@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400&display=swap');

*{
 margin: 0;   
 box-sizing: border-box;
}
header {
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.gap{
    background-color: #2fafff;
}
.ship{
    background-color: green;
}
.attacked{
    background-color: crimson;
}
.hit{
    background-color: black;
}
.active {
    opacity: 1;
    transition: opacity 500ms;
}

.deactive{
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms;
}
.layerTextPopUp{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.layerBtnPopUp{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}
#btnPopUp{
    width: 15%;
    height: 30px;
}
.layerPopUp{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 25%;
    top: 25%;

    border-radius: 20px;

    width: 50%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.653);
}

@media screen and (max-width: 1000px) {
    
    *{
        font-family: 'Zilla Slab', serif;
    }
    
    header{
        height: 5vh;
        font-weight: 600;
    }
    .layout {
        display: grid;

        grid-template-columns: 100vw;
        grid-template-rows: 90% 10%;
        height: 90vh;
    }
    .gameboard{
        height: 100%;
        grid-row: 1/2;

        display: grid;
        grid-template-rows: 50% 50%;
    }
    .layerAI, .layerPlayer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .AIGameboard, .playerGameboard{
        display: grid;
        justify-content: center;

        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(10, 25px);
    }
    .AIGameboard > div, .playerGameboard > div {
        border: 1px solid black;
        width: 25px;
        height: 25px;
    }

    .buttonsSection{
        height: 100%;
        grid-row: 2/3;

        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
 
}

@media screen and (min-width: 1001px) {
    *{
        font-family: 'Zilla Slab', serif;
    }
    header{
        height: 10vh;
        font-weight: 600;
    }
    .layout {
        display: grid;
        height: 85vh;

        grid-template-columns: 100vw;
        grid-template-rows: 80% 20%;
    }
    
    .gameboard{
        height: 100%;
        grid-row: 1/2;
    
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .layerAI, .layerPlayer{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .AIname, .playerName{
        font-size: 23px;
    }

    .AIGameboard, .playerGameboard{
        display: grid;
        justify-content: center;

        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(10, 50px);
    }
    .AIGameboard > div, .playerGameboard > div {
        border: 1px solid black;
        width: 50px;
        height: 50px;
    }
    .buttonsSection{
        height: 100%;
        grid-row: 2/3;
    
        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .layerTextPopUp #textPopUp{
        font-weight: 600;
        color: #ececec;
        font-size: clamp(3vw, 3rem, 100%);
    }

    #btnPopUp{
        width: 30%;
        height: 50px;
        background-color: black;
        color: #ececec;
        font-weight: 600;
        font-size: clamp(1.5vw, 3rem, 100%);
        border: 2px solid #ececec;
        border-radius: 20px;
        text-align: center;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    
}
