@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400&display=swap');

*{
 margin: 0;   
 box-sizing: border-box;
}
header {
    display:  flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 420px) {
    
    *{
        font-family: 'Zilla Slab', serif;
    }
    
    header{
        height: 5vh;
        font-weight: 600;
    }
    .layout {
        display: grid;

        grid-template-columns: 100vw;
        grid-template-rows: 90% 10%;
        height: 90vh;
    }
    .gameboard{
        height: 100%;
        grid-row: 1/2;

        display: grid;
        grid-template-rows: 50% 50%;
    }
    .layerAI, .layerPlayer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .AIGameboard, .playerGameboard{
        display: grid;
        justify-content: center;

        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(10, 25px);
    }
    .AIGameboard > div, .playerGameboard > div {
        border: 1px solid black;
        width: 25px;
        height: 25px;
    }

    .buttonsSection{
        height: 100%;
        grid-row: 2/3;

        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
    }
    .gap{
        background-color: #2fafff;
    }
    .ship{
        background-color: #ff4c31;
    }
}

@media screen and (min-width: 420px) {
    *{
        font-family: 'Zilla Slab', serif;
    }
    header{
        height: 10vh;
        font-weight: 600;
    }
}
